body {
  font-family: 'Nunito Sans', sans-serif;
}

.header {
  background-color: #767C71;
}

h1 {
  text-align: center;
  font-size: 100px;
  color: white;
  font-family: 'Special Elite', cursive;
  letter-spacing: 30px;
  margin-top: 15px;
}

h2 {
  text-align: center;
  font-size: 40px;
}

li {
  margin: 0 auto;
  list-style: none;
  display: inline;
}

img {
  height: 400px;
  margin: 15px;
}

h4 {
  font-size: 30px;
  text-transform: uppercase;
}

#logo {
  border: none;
  height: 350px;
}

#nav {
  margin-top: -30px;
  margin-bottom: 30px;
  font-size: 20px;
  margin-left: 40%;
}

#nav li {
  padding: 25px;
  color: #FDC724;
}

a:link {
    color: #FDC724;
    text-decoration: none;
}

a:visited {
    color: #FDC724;
}

a:hover {
    color: hotpink;
}

a:active {
    color: #FDC724;
}

h5 {
  font-size: 20px;
  color: #FDC724;
  margin-left: 10%;
}

#about {
  margin-top: 20px;
  background-color: #767C71;
}

#me {
  float: left;
  border-style: solid;
  border-radius: 25px;
  border-width: 10px;
  border-color: #767C71;
}

#about-blurb {
  margin: 25px;
  font-size: 30px;
}

#contact {
  font-size: 30px;
  margin-bottom: 40px;
  margin-top: 40px;
}

#contact li {
  padding: 30px;
}
